.link{
    color: aliceblue;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    width: 100%;
    height: 100%;
}
.link:hover{
    color: gold;
    font-size: 20px;
}
.botBotder{
    border-bottom: 2px solid gold;
    color: gold;
    font-size: 20px;
}
.body{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #6495ED ;
    box-shadow: 0px 2px 20px 0px #1A11141A;
}
.headerNavigation{
    margin: 30px;
    font-weight: bold;
}
.headerMobile{
    display: none;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #6495ED ;
    box-shadow: 0px 2px 20px 0px #1A11141A;
}
.myModalCT{
    width: 70%;
    height: 100%;
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
}
.myModalBD{
    background-color: rgba(0, 0, 0, 0)!important;
}
.modalBody{
    background-color: aliceblue;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
@media (max-width: 900px){
    .headerMobile{
        display: block;
    }
    .headerContainer{
        display: none;
    } 
}